/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mai 2015, 16:59:21
    Author     : Brasya
*/


.direct-chat-dashboard{
    overflow: auto;
}

.direct-chat-messages {
    height: 250px;
    padding: 10px;
    transform: translate(0px, 0px);
}

.direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
}
.direct-chat-name {
    font-weight: 600;
}
.direct-chat-timestamp {
    color: #999;
}

.direct-chat-msg, .direct-chat-text {
    display: block;
}

.direct-chat-msg {
    margin-bottom: 10px;
}

.direct-chat-msg::after {
    content: " ";
    display: table;
    clear: both;
}

.direct-chat-text {
    background: none repeat scroll 0 0 #d2d6de;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}
.direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
}

.direct-chat-text::before {
    border-width: 6px;
    margin-top: -6px;
}

.direct-chat-img {
    border-radius: 50%;
    float: left;
    height: 40px;
    width: 40px;
}
